---
import Button from '../components/button.astro'
---
<section>
  <p class="highlight-white">
    まつげパーマはセンス？腕次第？
  </p>
  <p class="textL alignCenter">実は、<strong class="textBold">道具</strong>と<strong class="textBold">使い方</strong>次第です。</p>
  <Button
    text="違いを体験したい方へ"
    href="#"
  />
</section>

<style>
  section{
    padding: 1.5rem 0;
  }
.highlight-white{
  width: fit-content;
  margin: 0 auto 1rem;
  padding: 0.5rem 1rem;
  background: #fff;
  text-align: center;
}
p{
  margin-bottom: 2rem;
}
</style>
